@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit" sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #f5f3f5;
}
a{
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  line-height: 1;
}
.hero{
  background:linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)) ,url("./assets/hero.png") ;
  background-size: cover;
  background-position: center;
}




